{% extends "template.html" %}
{% block title %}About - {% endblock %}
{% block content %}
    <div class="about___ container">
        <div class="card" style="padding:15px 30px">
            <!-- <h1 style="text-align:center">About US</h1> -->
            <!-- <div class="gallary">
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
            </div>
            <p>Thank you for showing your interest to know about our team members and goals and motto of our company. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto consequatur quibusdam ea impedit, dolores est? Modi aperiam nesciunt molestiae perspiciatis eveniet quia consequatur, sequi, provident, veritatis iure nobis rerum? Necessitatibus!</p> -->
            <p>
                <b>Thank you</b> Thank you for showing your interest to know the goals & motto of MasterSkateX. 
            </p>
            <p>We are three guys who want to start a business</p>
            <p>Two of us have a passion for SkateBoarding and the other is just along for the ride.</p>
            <br>
            <p>
                <b>Our Mission:</b>
                We want to provide quality products that will give your board style while still keeping functionality<br>
                Although we are just starting our business, we have the courage and zeal to reach you and provide our best services. We promise to prove our gratefulness by listening and providing services tailored to meet individual requirements.
            </p>
            <p>
                When you become a customer at <a href="/">MasterSkateX</a>you truly make a difference in our lives, which encourages us to reciprocate the gratitude we feel towards each and every customer by always providing the biggest selection at the best possible price.
            </p>
            <br>
            </p>
            <br>
            Follow Us:
            <p style="font-size:2rem;">
                <a href=""Insert social""><i class="fa fa-facebook"></i></a>
                <a href=""Insert social""><i class="fa fa-twitter"></i></a>
                <a href=""Insert social""><i class="fa fa-instagram"></i></a>
            </p>
            <br>
            <p>Meet the Idiots:</p>
            <ul>
            <li><a href=""Insert social"" target="_blank">Jacob Koll</a></li>
            <li><a href=""Insert social"" target="_blank">Aaron Criner</a></li>
            <li><a href=""Insert social"" target="_blank">Zachariah Judd</a></li>
            </ul>
            <p style="">This website has been developed by <a href="https://repl.it/@ZachariahJudd">Zachariah Judd(AKA AntimatterDev)</a>. If you want me to build a website for you. then just reach out to me by clicking my name in the members area.</p>
        </div>
    </div>

{% endblock %}