{% extends "template.html" %} {% block content %}
{% block title %}{% endblock %}
{% block meta %}
<meta name="description" content="Get Skating items such as decks,tape,wheels,etc at Masterskatex.cf">
<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="MasterSkateX - Shop for Skating Accessories">
<meta itemprop="description" content="Get Skating items such as decks,tape,wheels,etc at Masterskatex.cf">
<meta itemprop="image" content="https://s3.ap-south-1.amazonaws.com/cdn-red/bne3.jpg">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.MasterSkateX.cf">
<meta property="og:type" content="website">
<meta property="og:title" content="MasterSkateX - Shop for Skating Accessories">
<meta property="og:description" content="Get Skating items such as decks,tape,wheels,etc at Masterskatex.cf">
<meta property="og:image" content="https://s3.ap-south-1.amazonaws.com/cdn-red/bne3.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="MasterSkateX">
<meta name="twitter:description" content="Get Skating items such as decks,tape,wheels,etc at Masterskatex.cf">
{% endblock %}
<div class="banner container">
    <div class="card card-image" style="position:relative">
        {% for link in links %}
        <img src="{{link.link}}" alt="" class="mySlides">
        {% endfor %}
    </div>
</div>


<div class="products container p-grid">
    {% for item in products %}
    <div class="p-grid-item">
        <a  href="{{ url_for('product_index', name=item.title) }}">
            <div class="card">
                <div style="padding-bottom:10px; background-color:#f2f2f2;">
                        <span>${{ item.buy_price }}</span>
                </div>
                <img src="/product_images?image={{item.image_2}}" alt="{{item.name}}">
                <div class="product-details">
                    <p>{{item.name}}</p>
                </div>
            </div>
        </a>
    </div>
    {% else %}
        <p style="text-align:center; width: 100%">Sorry! No products has been added to the website.</p>
    {% endfor %}
</div>
<script>
        var slideIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
            x[i].style.display = "none"; 
            }
            slideIndex++;
            if (slideIndex > x.length) {slideIndex = 1} 
            x[slideIndex-1].style.display = "block"; 
            setTimeout(carousel, 2500); // Change image every 2 seconds
        }
</script>
{% endblock %}