{% extends "template.html" %}
{% block title %}Return Policy - {% endblock %}
{% block content %}
    <div class="about___ container">
        <div class="card" style="padding:15px 30px">
            <h2>Return Policy</h2>
            <p>
                If you find a defect or weakness in our product then return the product and you will be sent a new product or a product of similar value if you choose. If you send in a product and it has any signs of tampering or breakage from wear then you will not be refunded.
            </p>
            <br>
            <p>
                Only <i> defected product </i> are applicable for <b>replacement</b>. Raise issue within 48 hrs after the delivery to replace the product in case of only manufacturing defect.You will be refunded half the price of the product that needs to be replaced. 
                Mail <a>juddcraft12@gmail.com</a> to raise your issue.
            </p>
            <p style="text-align:right"> - The MasterSkate Team</p>
        </div>
    </div>

{% endblock %}