{% extends "template.html" %} 
{% block title %}Search - {% endblock %}
{% block content %}
<div class="products container p-grid">
    {% for item in products %}
    <div class="p-grid-item">
        <a href="{{ url_for('product_index', name=item.title) }}">
            <div class="card">
                <div style="padding-bottom:10px; background-color:#f2f2f2;">
                        <span>${{ item.buy_price }}</span>
                </div>
                <img src="/product_images?image={{item.image_2}}" alt="">
                <div class="product-details">
                    <p>{{item.name}}</p>
                </div>
            </div>
        </a>
    </div>
    {% else %}
        <p style="text-align:center; width: 100%">Sorry! No products found!!.</p>
    {% endfor %}
</div>
{% endblock %}
